/* color scheme and variables */
:root {
  --black: #161616;
  --white: #ffffff;
  --green: #2eff04;
  --gray: #373636;
  --marg-sec: 8px;
  --pad-sec: 10px;
}

* {
  box-sizing: border-box;
}
/* flex wrap main for structure */
main {
  display: flex;
  flex-grow: 1;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
}
/* header */
header {
  display: flex;
  border-radius: 60px;
  padding: var(--pad-sec);
  margin: var(--marg-sec);
  background: var(--gray);
  border-style: solid;
  border-color: var(--white);
  color: var(--green);
}
/* padding for About-me/work/resume/contact-me */
ul {
  padding: var(--pad-sec);
  margin: var(--marg-sec);
}
/* My Portfolio Header */
h1 {
  margin-top: 150px;
  color: var(--green);
  text-decoration: underline;
  text-align: left;
  font-size: 3rem;
  
}
/* created class for header to format header contents in a row/space evenly */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

/* About me and Work h2 aside */
h2 {
  text-decoration: underline;
  text-align: right;
  font-size: 500%;
  padding: var(--pad-sec);
  margin-bottom: var(--marg-sec);
  color: var(--green);
}
/* footer h3 style */
h3 {
  color: black;
  font-size: 250%;
  text-decoration: underline;
}

header ul a:hover {
  color: var(--white);
}

nav {
  display: flex;
  border-style: solid;
  border-color: var(--white);
  background-color: var(--gray);
  border-radius: 60px;
  padding: var(--pad-sec);
  margin: var(--marg-sec);
}

.nav {
  display: flex;
  contain: content;
  justify-content: right;
}
nav a {
  cursor: pointer;
  position: relative;
  color: var(--green);
  padding: var(--pad-sec);
  margin: var(--marg-sec);
}

/* something cool */
nav h1 a:hover::after {
  content: "This is kind of cool.";
  color: var(--wine);
  text-decoration: underline;
  text-decoration-color: var(--green);
}
/* paragraph section */
.paragraph {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: var(--green);
  font-size: 150%;
  width: 100%;
  height: 350px;
  border-style: solid;
  border-color: var(--white);
  background-color: var(--gray);
  border-radius: 60px;
  margin: 50px;
  padding: 50px;
}

/* aside section */
aside {
  flex: 2;
  justify-content: flex-start;
  border-radius: 60px;
  background-color: var(--dgray);
  border-color: var(--white);
  border-style: solid;
  padding: var(--pad-sec);
  margin: var(--marg-sec);
}

/* footer */
footer {
  flex: 1;
  width: 100%;
  text-align: center;
  background: var(--gray);
  /* color: var(--green); */
  margin: var(--marg-sec);
  padding: var(--pad-sec);
  border-style: solid;
  border-color: var(--white);
  border-radius: 60px;
}

/* footer links highlight white */
footer ul a:hover {
  color: var(--white);
}

/* about me aside */

.aside {
  display: flex;
  flex-wrap: wrap;
  contain: content;
  background-color: var(--gray);
}

#aside {
  display: flexbox;
  height: 275px;
  margin: var(--marg-sec);
  margin-bottom: 100px;
}
/* work aside */
#aside2 {
  height: 100%;
  margin: var(--marg-sec);
}

#resume {
  margin: var(--marg-sec);
  padding: var(--pad-sec);
  display: flex;
  contain: content;
  justify-content: flex-start;
}

/* class for big image */
.big-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
  padding: var(--pad-sec);
}
/* class for images */

.images {
  display: flex;
  background-color: var(--black);
  padding: var(--pad-sec);
  margin: var(--marg-sec);
  justify-content: space-between;
  object-fit: contain;
  border-color: var(--white);
}
/* big picture id */
#big-pic {
  border-style: solid;
  width: 100%;
  background-color: var(--gray);
  border-radius: 60px;
  padding: 30px;
  border-color: var(--white);
}
/* little picture class */
.pic {
  display: flex;
  width: 40%;
  box-sizing: border-box;
  border-style: solid;
  background-color: var(--gray);
  border-radius: 60px;
  padding: var(--pad-sec);
  margin: var(--marg-sec);
  border-color: var(--white);
}
/* pic image format */
.pic img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 60px;
}
/* grow and change color of pic */
.pic:hover {
  cursor: pointer;
  background-color: var(--green);
  width: 41%;
}

/* big pic image format */
#big-pic img {
  cursor: pointer;
  width: 100%;
  border-radius: 60px;
}
/* shrink and change color of big-pic */
#big-pic:hover {
  cursor: pointer;
  width: 99%;
  background-color: var(--green);
  border-radius: 60px;
}

/* need to resolve media query */
@media screen and (max-width: 768px) {
  main,
  nav,
  body,
  section {
    flex-direction: column;
  }
}
